{{!-- CITATION --}}
{{!-- 3/16/2024 --}}
{{!-- All below Code is fully Adapted from nodejs-starter-app from CS340 Winter 2024 term --}}
{{!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Casino Database Project - CS340 Winter 2024 Group 57</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<nav>
    <a href="/">Home</a>
    <a href="/employees">Employees</a>
    <a href="/games">Games</a>
    <a href="/gamingSessions">GamingSessions</a>
    <a href="/players">Players</a>
    <a href="/suppliers">Suppliers</a>
    <a href="/tables">Tables</a>
</nav>
<body>

    {{{body}}}

</body>
</html>