<main>
    <h2>Casino Management</h2>
    <p>This is the website for CS340 group 57 by Justin Holley and Louis Hwang.</p>
    <p>The topic for this database is casino management, where different games within 
        the casino are tracked to determine which ones are the most profitable.
    </p>
    <p>Use the navigation buttons above to view each of the different entities for this project.</p>
</main>